<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li>
        <a href="https://twitter.com/shiftkey"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://github.com/shiftkey"><i class="fa fa-github"></i></a>
      </li>
    </ul>
</nav>
