<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ "images/logo.png" | absURL }}"
         width="50"
         height="50"
         alt="Logo">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li>
      <a href="https://twitter.com/shiftkey" aria-label="shiftkey on Twitter"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://github.com/shiftkey" aria-label="shiftkey on GitHub"><i class="fa fa-github"></i></a>
    </li>
    <li>
      <a rel="me" href="https://indieweb.social/@shiftkey" aria-label="shiftkey on Mastodon"><i class="fa-brands fa-mastodon"></i></i></a>
    </li>
  </ul>
</nav>
