<aside>
  <h2 class="list-title">To-do</h2>

  <p>
  This is a running list of things I should write about at some point, because
  I'll often mention it in passing and then forget to come back to it.
  </p>

  <p>
  No guarantees on ever actually writing this up. Bug me if this is something
  you actually want to hear about.
  </p>

  <blockquote>
    <strong><em>Kill your notifications</em></strong>
    <p>
    I think notifications are a fundamentally broken concept due to how easily
    they can distract the user, the experience of handling notifications on
    computers and devices, and how much users are subjected to them based on
    time spent on their devices.
    <p/>
    <p>
    It's been a while since I've looked at this topic (these days I've killed
    notifications for just about everything on my phone) and maybe I'll sit
    down and properly brain dump what my problems are with how things are
    currently.
    </p>
  </blockquote>

</aside>
